<div class="container__small__card">
    <div class="container__small__card__content">
    <div class="small__card__photo">
        <img 
            src="https://sm.ign.com/ign_br/screenshot/default/a62ad720f6b7ca4d66e8597d3873345e16129ba4-scaled_9ezr.jpg" 
            alt=""
            
            
            srcset=""
        >

    </div>
    <div class="small__card__title">
         <h1><a href="#">O EVENTO DA PLAYSTATION FLOPOU???</a></h1> 
        </div>
    </div>
    <div class="container__small__card__separator">
        <hr>
    </div>
</div>