<div class="container__big__card">
    <div class="big__card__photo">
        <img 
            src="https://yt3.googleusercontent.com/itdMzqG_4vyjAruXzgYuPuGnvZgDjsbaworLh-g2ZuM8565QOdsvS1n4IfR1NWYaQuV4za33=s176-c-k-c0x00ffffff-no-rj" 
            alt=""
            height="200px"
            
            srcset=""
        >

    </div>
    <div class="big__card__title">
         <h1><a href="#">O BLOG DO NERD GEEK CHEGOU!!!</a></h1> 
    </div>
    <div class="big__card__description">
        <p>
            <a href="#">
            o blog NERD GEEK vai reunir notícias da cultura geek, sobre filmes e séries, Marvel, DC, jogos e muito mais!!!!
        </a>
    </p>
    </div>
</div>